:root {
  --light: #edf2f9;
  --dark: #152e4d;
  --darker: #12263f;
  /*  */
  --color-primary: var(--color-cyan);
  --color-primary-50: var(--color-cyan-50);
  --color-primary-100: var(--color-cyan-100);
  --color-primary-light: var(--color-cyan-light);
  --color-primary-lighter: var(--color-cyan-lighter);
  --color-primary-dark: var(--color-cyan-dark);
  --color-primary-darker: var(--color-cyan-darker);
  /*  */
  --color-green: #16a34a;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-light: #22c55e;
  --color-green-lighter: #4ade80;
  --color-green-dark: #15803d;
  --color-green-darker: #166534;
  /*  */
  --color-blue: #2563eb;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-light: #3b82f6;
  --color-blue-lighter: #60a5fa;
  --color-blue-dark: #1d4ed8;
  --color-blue-darker: #1e40af;
  /*  */
  --color-cyan: #0891b2;
  --color-cyan-50: #ecfeff;
  --color-cyan-100: #cffafe;
  --color-cyan-light: #06b6d4;
  --color-cyan-lighter: #22d3ee;
  --color-cyan-dark: #0e7490;
  --color-cyan-darker: #155e75;
  /*  */
  --color-teal: #0d9488;
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-light: #14b8a6;
  --color-teal-lighter: #2dd4bf;
  --color-teal-dark: #0f766e;
  --color-teal-darker: #115e59;
  /*  */
  --color-fuchsia: #c026d3;
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fae8ff;
  --color-fuchsia-light: #d946ef;
  --color-fuchsia-lighter: #e879f9;
  --color-fuchsia-dark: #a21caf;
  --color-fuchsia-darker: #86198f;
  /*  */
  --color-violet: #7c3aed;
  --color-violet-50: #f5f3ff;
  --color-violet-100: #ede9fe;
  --color-violet-light: #8b5cf6;
  --color-violet-lighter: #a78bfa;
  --color-violet-dark: #6d28d9;
  --color-violet-darker: #5b21b6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



hmtl,
body{
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

a{
  color: inherit;
  text-decoration: none;
}

.selectTag{
  @apply bg-gray-50 border  text-gray-900 text-sm rounded-lg hover:border-sky-300 focus:ring-blue-500 focus:border-blue-400 block w-40 py-2 dark:hover:border-blue-400 dark:bg-slate-900 dark:border-slate-900 dark:placeholder-gray-400 dark:text-white dark:focus:text-white dark:focus:border-blue-500 ring-slate-200 border-solid md:border-white border-slate-500  
}

#dropdownInformation {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* add this line to set the width */
}

#dropdownInformation::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  transform: rotate(45deg) translateX(-50%);
  z-index: 1;
}

*{
  box-sizing: border-box;
}

#real{
  color: red;
}

.ck-editor__editable {
  min-height: 350px;
  max-height: 550px;
  max-width: none;
  min-width: auto;
  overflow-y: auto;
  overflow-x: hidden; 
}

@layer base {
  body {
    @apply bg-gray-50 text-black dark:bg-slate-900 dark:text-gray-100  min-h-screen;
  }

  pre{
    @apply w-full sm:w-auto flex-grow-0 min-w-full;
  }

  code{
    @apply w-full sm:w-auto;
  }

  
  h1 {
    @apply text-black dark:text-white;
  }

  h2 {
    @apply text-black dark:text-white;
  }

  h3 {
    @apply text-black dark:text-white;
  }

  strong {
    @apply text-black dark:text-white;
  }




  a{
    @apply  dark:text-slate-400;
  }

  .childMenu{
     @apply mt-2 space-y-2  pl-4  lg:mt-4 lg:space-y-4  mb-5 cursor-pointer hover:text-black text-slate-500 dark:text-slate-300 dark:hover:text-white dark:focus:text-red-400
  }

  .btn{
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap
  }
  a{
    @apply dark:text-slate-200
  }


}

@layer components{
  .token.tag{
    @apply text-red-300;
  }
  .token.operator{
    @apply text-blue-400;
  }
  .token.punctuation,
  .token.attr-equals{
    @apply text-slate-500;
  }
  .token.attr-value{
    @apply text-sky-300
  }

  
}